#footer #social_block ul,
#footer #social_block li{
    display:inline-block;
    list-style: none;
}
#footer #social_block ul{
    float:right;
}
#footer #social_block ul li a{
    float:left;
    width:32px;
    height:32px;
    background-image:url(img/sprite_social.png);
    background-repeat:no-repeat;
    margin: 9px 1px 9px 0px;
    cursor:pointer;
    display:block;
    list-style: none;
    text-indent: 50px;
    overflow: hidden;
}
#footer #social_block .facebook a{
    background-position: -32px -32px;
}
#footer #social_block .twitter a{
    background-position: -64px -32px;
}
#footer #social_block .youtube a{
    background-position: -96px -32px;
}
#footer #social_block .tuenti a{
    background-position: 0px -32px;
}
#footer #social_block .rss a{
    background-position: -128px -32px;
}
#footer #social_block .facebook a:hover{
    background-position: -32px 0px;
}
#footer #social_block .twitter a:hover{
    background-position: -64px 0px;
}
#footer #social_block .youtube a:hover{
    background-position: -96px 0px;
}
#footer #social_block .tuenti a:hover{
    background-position: 0px 0px;
}
#footer #social_block .rss a:hover{
    background-position: -128px 0px;
}