<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>watermark</name>
            <displayName><![CDATA[Marca de agua (filigrana)]]></displayName>
            <version><![CDATA[0.3]]></version>
            <description><![CDATA[Proteja la imagen por una marca de agua]]></description>
            <author><![CDATA[PrestaShop]]></author>
            <tab><![CDATA[administration]]></tab>
	<confirmUninstall>¿Está seguro de que desea eliminar sus datos?</confirmUninstall>
            <is_configurable>1</is_configurable>
            <need_instance>1</need_instance>
	<limited_countries></limited_countries>
        </module>